@charset "UTF-8";


#oshirase ul li,
#shinryo_naiyo ul li,
#shinryo_naiyo ul li span,
#calendar ul .calendar_kyuushinbi {
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
}

main h2,
.feature_text,
.feature,
.num,
.main_image_text span {
    font-family: "游明朝体", YuMincho, "Yu Mincho Demibold", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", serif;
}

/*.main_image_text span {
    font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "MS P明朝", "MS 明朝", serif;
}*/


#main_image img {
    width: 100%;
    height: 500px;
    object-fit:cover;
}

#main_image {
    margin-bottom: 47px;
    position: relative;
}

.main_image_text {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.main_image_text > span {
    display: block;
    width: 1000px;
    margin: auto;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 0.03em;
    padding-left: 80px;
    color: #fff;
    margin-top: 200px;
    line-height: 50px;
    /*text-shadow: 3px 3px 5px rgba(0,0,0,0.5);*/
    text-shadow: 2px 3px 3px rgba(0,0,0,0.8);
}

.big_br {
    display: block;
}

#oshirase {
    width: 1000px;
    height: 419px;
    margin: auto;
    box-sizing: border-box;
    border: 1px solid #277dd4;
    margin-bottom: 50px;
    padding: 40px;
    text-align: center;
    background-color: #F9FEFF;
}

ul li {
    list-style: none;
}

#oshirase ul {
    text-align: left;
    margin-top: 3px;
    overflow: auto;
    max-height: 276px;
}

#oshirase ul li {
    padding: 18px 0px;
    display: table;
    width: 100%;
}

#oshirase ul li:not(:last-of-type) {
    border-bottom: 0.2px solid rgba(112, 112, 112, 0.2);
}

.up_ymd {
    font-size: 16px;
    font-family: YuGothic-Regular, Yu Gothic;
    display: table-cell;
    width: 87px;
}

.title {
    font-size: 19px;
    color: #1a0dab;
    font-family: YuGothic-Medium, Yu Gothic;
    font-weight: 500;
    letter-spacing: 0.01em;
    padding-left: 22px;
    line-height: 1.8rem;
    display: table-cell;
    width: calc(100% - 87px);
}

.title a {
    text-decoration: none;
    color: #1a0dab;
}

#contents {
    width: 100%;
    background-image: url(../img/contents_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: lighten;
    padding: 50px 0px;
}

#tokucho,
#shinryo_naiyo,
#calendar {
    width: 1000px;
    margin: auto;
    padding: 40px 40px 50px;
    background-color: #fff;
    text-align: center;
}


#contents ul {
    text-align: left;
}

#tokucho ul {
    margin-top: 20px;
}

#tokucho ul li {
    height: 50px;
    background-color: rgba(0, 144, 168, 0.1);
    border-radius: 21px;
    padding-left: 30px;
}

#tokucho ul li:not(:last-of-type) {
    margin-bottom: 20px;
}

.feature,
.num,
.feature_text {
    /*font-family: YuMincho-Regular, Yu Mincho;*/
    line-height: 50px;
}

.feature {
    font-size: 20px;
    color: #277dd4;
}

.num {
    font-size: 30px;
    padding-left: 6px;
    color: #277dd4;
}

.feature_text {
    font-size: 24px;
    letter-spacing: 0.03em;
    padding-left: 35px;
    color: #333;
    font-weight: 300;
}

#contents > section:not(:last-of-type) {
    margin-bottom: 50px;
}

#shinryo_naiyo ul {
    margin-top: 20px;
}

#shinryo_naiyo ul li {
    height: 50px;
    background-color: rgba(33, 157, 221, 0.1);
    border-radius: 25px;
    padding-left: 30px;
}

#shinryo_naiyo ul li:not(:last-of-type) {
    margin-bottom: 20px;
}

#shinryo_naiyo ul li span {
    color: #333;
    /*font-family: YuGothic-Medium, Yu Gothic;*/
    font-weight: 500;
    letter-spacing: 0.01em;
    font-size: 19px;
    line-height: 50px;
}



main h2 {
    display: inline-block;
    /*font-family: YuMincho-Regular, Yu Mincho;*/
    letter-spacing: 0.04em;
    font-size: 30px;
    font-weight: 300;
    position: relative;
    margin: 15px auto;
    color: #333333;
}

main h2::before,
main h2::after {
    content: "";
    display: block;
    width: 150px;
    height: 2px;
    background-color: #277dd4;
    position: absolute;
}

main h2::before {
    top: calc(50% - 1px);
    right: calc(100% + 40px);
}

main h2::after {
    top: calc(50% - 1px);
    left: calc(100% + 40px);
}

#shinryo_naiyo ul li span.shinryo_naiyo_ttl {
    color: #277dd4;
}

#calendar ul {
    font-size: 0px;
    width: 600px;
    margin: auto;
}
#calendar ul li {
    display: inline-block;
    width: 50%;
}

#calendar ul li:nth-child(odd) {
    padding-right: 20px;
}
#calendar ul li:nth-child(even) {
    padding-left: 20px;
}

#calendar ul li > img {
    max-width: 280px;
}

#calendar ul .calendar_kyuushinbi {
    font-size: 19px;
    text-align: left !important;
    margin-top: 10px;
}
#calendar ul .calendar_kyuushinbi > span {
    color: #FFB3B3;
    margin-right: 6px;
}


/*============= ↓ここから IEハック ==============*/
_:-ms-input-placeholder, :root #main_image {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

_:-ms-input-placeholder, :root #main_image img {
    height: 500px;
    width: auto;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}
/*============= ↑ここまで IEハック ==============*/


@media screen and (max-width: 1000px) {
    .main_image_text > span {
        width: 100%;
    }

    #contents {
        padding: 50px 10px;
    }

    #oshirase {
        width: calc(100% - 20px);
        padding: 40px 10px;
    }

    #oshirase ul {
        overflow: auto;
        max-height: 276px;
        max-width: 885px;
        /*1000pxから余白20pxと40px分を引いて900px。さらにそこからスクロールバーの15pxを引いた数*/
        margin: auto;
    }

    #contents ul {
        max-width: 885px;
        /*1000pxから余白20pxと40px分を引いて900px。さらにそこからスクロールバーの15pxを引いた数*/
        margin: auto;
    }

    #contents > section {
        width: 100%;
        padding: 40px 10px 50px
    }

    #tokucho ul li {
        padding-left: 10px;
    }

    #shinryo_naiyo ul li {
        display: block;
        width: 100%;
    }

    #shinryo_naiyo ul li > span {
        display: block;
        line-height: 1.2em;
        /*vertical-align: middle;*/
        word-break: keep-all;
        line-break: strict;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    #shinryo_naiyo ul li span.shinryo_naiyo_ttl {
        line-height: 50px;
    }

}

@media screen and (max-width: 799px) {
    .sm_br {
        display: block;
    }

    .main_image_text > span {
        font-size: 30px;
        padding-left: 20px;
    }

    #oshirase ul li {
        display: block;
    }
    .up_ymd,
    .title {
        display: block;
        width: 100%;
        padding: 0px;
        line-height: 1.8rem;
    }
    
    #tokucho ul li {
        display: table;
        width: 100%;
    }

    .feature,
    .num,
    .feature_text {
        display: table-cell;
    }

    .feature {
        width: 63px;
    }
    .num {
        width: 38px;
    }
    .feature_text {
        line-height: 2rem;
    }

    #calendar ul {
        max-width: 400px;
        width: 100%;
    }
    #calendar ul li {
        width: 100%;
        text-align: center !important;
        padding: 0px !important;
    }

    #calendar ul li > img {
        max-width: 280px;
        width: 100%;
        height: auto;
    }

    #calendar ul li:not(:last-of-type) {
        margin-bottom: 20px;
    }

    #calendar ul .calendar_kyuushinbi {
        max-width: 280px;
        width: 100%;
        margin: auto;
        display: block;
    }
    
    #oshirase {
        width: calc(100% - 20px);
        padding: 40px 10px;
    }

    .ttlh2box {
        display: inline-block;
        width: 100%;
        overflow-x: hidden;
    }

    #contents > section {
        width: calc(100% - 20px);
        padding: 40px 10px 50px;
        font-size: 0px;
    }

    .feature,
    .num {
        display: inline-block;
        height: 40px;
    }

    .feature_text {
        display: block;
        padding-left: 0px;
        padding-bottom: 10px;
    }

    .kaigyou {
        display: block;
    }

    #shinryo_naiyo ul li span,
    #shinryo_naiyo ul li span.shinryo_naiyo_ttl {
        line-height: 30px;
    }

    #shinryo_naiyo ul li {
        min-height: 50px;
        height: 100%;
        padding: 0px;
    }

    #shinryo_naiyo ul li > span {
        padding: 10px;
    }
}

@media screen and (max-width: 307px) {
    .more_sm_br {
        display: block;
    }
}