@charset "UTF-8";

#recruit_messege > p {
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
}


#recruit_messege > p {
    font-size: 18px;
    line-height: 34px;
    margin-top: -4px;
    letter-spacing: 1.2px;
}

#recruit_messege > p > a {
    text-decoration: none;
    font-weight: 600;
    pointer-events: none;
    white-space: nowrap;
}

#recruit_messege > p > a > span {
    display: inline-block;
    letter-spacing: 1.5px;
}

#recruit_messege > ul {
    margin-top: 43px;
    width: 100%;
    font-size: 0px;
}

#recruit_messege > ul > li {
    list-style: none;
    display: inline-block;
}

#recruit_messege > ul > li:nth-child(even) {
    padding-left: 20px;
}

#recruit_messege > ul > li:not(:last-of-type):not(:nth-last-child(2)) {
    margin-bottom: 20px;
}


@media screen and (max-width: 1000px) {
    #recruit_messege > p > a {
        pointer-events: auto;
    }

    #recruit_messege > ul > li:nth-child(odd) {
        padding-right: 10px;
    }

    #recruit_messege > ul > li:nth-child(even) {
        padding-left: 10px;
    }

    #recruit_messege > ul > li {
        width: 50%;
    }

    #recruit_messege > ul > li > img {
        max-width: 450px;
        width: 100%;
        height: auto;
    }

}

@media screen and (max-width: 799px) {
    #recruit_messege > ul > li {
        width: 100%;
        padding: 0px !important;
        text-align: center;
    }
    #recruit_messege > ul > li:not(:last-of-type) {
        margin-bottom: 20px;
    }

}